@import 'variable.scss';

@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

body {
  // font-family: $baseFamily;
  // font-size: $base;
  // font-weight: $font400;
  // height: 100%;
  // color: $baseColor;
}

html,
#root {
  height: 100%;
}

// .container {
//   // max-width: 1250px;
// }

.clearfix {
  clear: both;
}

h1 {
  font-size: $primaryTitle;
  font-weight: $font500;
  margin: 0;
}

h2 {
  font-size: $secondaryTitle;
  font-weight: $font500;
  margin: 0;
}

h3 {
  font-size: $primaryTitle;
  font-weight: $font500;
  margin: 0;
}

h4 {
  font-size: $primaryTitle;
  font-weight: $font500;
  margin: 0;
}

h5 {
  font-size: $extraLarge;
  font-weight: $font500;
}

h6 {
  font-size: $base;
  font-weight: $font500;
  margin: 0;
}

.link {
  color: $primaryColor;
  cursor: pointer;
  font-size: $small;
  font-weight: $font500;
  // display: block;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

p {
  color: $gray600;
}

.login-container {
  height: 100%;
  max-height: 1050px;
  padding: 0;
  color: $white;
  background-position: center center;
  background-size: cover;
  background-image: url('../images/login-bg.jpg');

  &:before {
    background-color: $black;
  }

  ul {
    &.login-navbar {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        &.nav-item {
          display: inline-block;

          .nav-link {
            border-radius: 3px;
            padding: 0.5rem 0.7rem;
            cursor: pointer;

            i {
              font-size: $medium;
            }

            &:hover {
              background-color: $transparent80;
            }
          }

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .footer {
    ul {
      &.signup-footer-nav {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          cursor: pointer;
          text-transform: uppercase;

          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .logo-text {
    padding-top: 13px;
    cursor: pointer;
  }

  .card-plain {
    border-radius: 0.25rem;
    padding-bottom: 0.7rem;
    max-width: 320px;
    margin: 0 auto;
  }
}

form {
  &.login-form {
    margin-top: 120px;

    .form-group {
      position: relative;

      input {
        &.form-control {
          font-size: $base;
          border-color: $borderInput;
          border-radius: 25px;
          background: transparent;
          padding: 18px 19px;

          &:focus {
            border-color: $white;
            box-shadow: none;

            > input-group-addon {
              i {
                &.fa {
                  color: $white;
                }
              }
            }
          }

          &::placeholder {
            color: $white;
          }
        }
      }

      .input-group-addon {
        i {
          &.fa {
            position: absolute;
            top: 11px;
            right: 15px;
            color: $borderInput;
          }
        }
      }
    }

    .form-footer {
      .link {
        &.forgot-link {
          padding-top: 15px;
          color: $white;
          display: block;
        }
      }
    }
  }

  &.search-block {
    .form-control {
      border-radius: 25px;
      border: 0;
      padding: 7px 20px;
      height: 35px;
      font-size: $base;

      &::placeholder {
        font-size: $base;
      }
    }
  }
}

button {
  &.btn {
    &.btn-primary {
      background-color: $primaryColor;
      color: $white;
      font-size: $medium;
      padding: 15px 48px;
      border-radius: 30px !important;
      font-weight: 400;
      border: none;
      letter-spacing: 0.5px;

      &:hover {
        background-color: $darkBlue;
        // box-shadow: 0 3px 8px 0 rgba(0,0,0,0.17);
      }

      &:focus {
        background-color: $darkBlue;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
      }

      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
      }
    }

    &.btn-secondary {
      background-color: $white;
      color: $black;
      font-size: $base;
      padding: 10px 22px;
      border-radius: 30px !important;
      font-weight: 400;
      border: none;
      letter-spacing: 0.5px;

      &:hover {
        background-color: $secondaryColor;
        color: $white;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
      }

      &:focus {
        background-color: $secondaryColor;
        color: $white;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
      }

      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
      }
    }
  }
}

.dashboard-container {
  .left-sidebar {
    background-color: $white;
    height: 100%;
    width: 216px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;

    .sidebar-header {
      margin: 0;
      padding: 14px 25px;
      font-size: $medium;
      text-transform: uppercase;
      font-weight: $font700;
      text-align: center;
      border-bottom: 1px solid $gray50;
    }

    ul {
      &.sidebar-navigation {
        list-style-type: none;
        padding: 0;
        margin: 0 15px;
        overflow: hidden;
        width: auto;
        height: calc(100vh - 60px);

        li {
          span {
            color: $baseColor;
            padding: 14px 10px;
            text-decoration: none;
            min-height: 44px;
            display: block;
            font-family: $base;

            i {
              padding-right: 10px;
            }
          }

          &:hover {
            span {
              text-decoration: none;
              color: $primaryColor;
            }
          }
        }
      }
    }
  }

  .dashboard-body {
    .top-navigation {
      padding: 14px 20px 14px 230px;
      background-color: $primaryColor;
      ul {
        &.top-nav-list {
          padding: 7px 0px 0 0;
          list-style-type: none;
          margin: 0;

          li {
            display: inline-block;
            padding: 0 20px 0 0;
            i {
              font-size: medium;
              color: $white;

              &.fa-cog {
                -webkit-animation: spin 4s linear infinite;
                -moz-animation: spin 4s linear infinite;
                animation: spin 4s linear infinite;
              }

              @-moz-keyframes spin {
                100% {
                  -moz-transform: rotate(360deg);
                }
              }
              @-webkit-keyframes spin {
                100% {
                  -webkit-transform: rotate(360deg);
                }
              }
              @keyframes spin {
                100% {
                  -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
                }
              }
            }
          }
        }
      }
    }

    .search-block {
      position: relative;

      i {
        position: absolute;
        right: 15px;
        top: 11px;
        color: gray100;
      }
    }
  }
}
