/* ------------------------------------------------------------------- */
/* Main $primaryColor
---------------------------------------------------------------------- */

@import 'variable.scss';

.csm-trigger,
.csm-content h4,
#backtotop a,
#top-bar {
  background-color: $primaryColor;
}

.custom-zoom-in:hover:before,
.custom-zoom-out:hover:before,
.infoBox-close:hover {
  -webkit-text-stroke: 1px $primaryColor;
}

.list-4 li:before,
.list-3 li:before,
.list-2 li:before,
.list-1 li:before {
  color: $primaryColor;
}

.numbered.color ol > li::before {
  border: 1px solid $primaryColor;
  color: $primaryColor;
}

.numbered.color.filled ol > li::before {
  border: 1px solid $primaryColor;
  background-color: $primaryColor;
}

.change-photo-btn:hover,
table.manage-table th,
mark.color {
  background-color: $primaryColor;
}

.user-menu ul li a:hover,
.user-menu.active .user-name:after,
.user-menu:hover .user-name:after,
.user-menu.active .user-name,
.user-menu:hover .user-name,
table.manage-table td.action a:hover,
table.manage-table .title-container .title h4 a:hover,
.my-account-nav li a.current,
.my-account-nav li a:hover,
#footer .social-icons li a:hover i,
#navigation.style-1 .current,
#posts-nav li a:hover,
#top-bar .social-icons li a:hover i,
.agent .social-icons li a:hover i,
.agent-contact-details li a:hover,
.agent-page .agent-name h4,
.footer-links li a:hover,
.header-style-2 .header-widget li i,
.header-widget .sign-in:hover,
.home-slider-desc .read-more i,
.info-box,
.info-box h4,
.listing-title h4 a:hover,
.map-box h4 a:hover,
.plan-price .value,
.plan.featured .listing-badges .featured,
.post-content a.read-more,
.post-content h3 a:hover,
.post-meta li a:hover,
.property-pricing,
.style-2 .trigger a:hover,
.style-2 .trigger.active a,
.style-2 .ui-accordion .ui-accordion-header-active,
.style-2 .ui-accordion .ui-accordion-header-active:hover,
.style-2 .ui-accordion .ui-accordion-header:hover,
.tabs-nav li a:hover,
.tabs-nav li.active a,
.testimonial-author h4,
.widget-button:hover,
.widget-text h5 a:hover,
a,
a.button.border,
a.button.border.white:hover {
  color: $primaryColor;
}

#header-container.top-border {
  border-top: 4px solid $primaryColor;
}

#navigation.style-1 .current {
  background-color: transparent;
  border: 1px solid $primaryColor;
}

#navigation.style-1 ul li:hover {
  background-color: $primaryColor;
}

#navigation.style-2 {
  background-color: $primaryColor;
}

.menu-responsive i {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.07) 0,
    transparent
  );
  background-color: $primaryColor;
}

.checkboxes input[type='checkbox']:checked + label:before,
.range-slider .ui-widget-header,
.search-type label.active,
.search-type label:hover {
  background-color: $primaryColor;
}

.range-slider .ui-slider .ui-slider-handle {
  border: 2px solid $primaryColor;
}

.agent-avatar a:before {
  background: $primaryColor;
  background: linear-gradient(to bottom, transparent 50%, $primaryColor);
}

.view-profile-btn {
  background-color: $primaryColor;
}

.listing-img-container:after {
  background: linear-gradient(to bottom, transparent 60%, $primaryColor);
}

.listing-badges .featured {
  background-color: $primaryColor;
}

.list-layout .listing-img-container:after {
  background: linear-gradient(to bottom, transparent 55%, $primaryColor);
}

#titlebar.property-titlebar span.property-badge,
.back-to-listings:hover,
.home-slider-price,
.img-box:hover:before,
.layout-switcher a.active,
.layout-switcher a:hover,
.listing-hidden-content,
.office-address h3:after,
.pagination .current,
.pagination ul li a.current-page,
.pagination ul li a:hover,
.pagination-next-prev ul li a:hover,
.property-features.checkboxes li:before {
  background-color: $primaryColor;
}

.post-img:after,
.tip {
  background: $primaryColor;
}

.property-slider-nav .item.slick-current.slick-active:before {
  border-color: $primaryColor;
}

.post-img:after {
  background: linear-gradient(to bottom, transparent 40%, $primaryColor);
}

.comment-by a.reply:hover,
.post-img:before {
  background-color: $primaryColor;
}

.map-box .listing-img-container:after {
  background: linear-gradient(to bottom, transparent 50%, $primaryColor);
}

#geoLocation:hover,
#mapnav-buttons a:hover,
#scrollEnabling.enabled,
#scrollEnabling:hover,
#streetView:hover,
.cluster div,
.custom-zoom-in:hover,
.custom-zoom-out:hover,
.infoBox-close:hover,
.listing-carousel.owl-theme .owl-controls .owl-next:after,
.listing-carousel.owl-theme .owl-controls .owl-prev:before,
.listing-carousel.owl-theme.outer .owl-controls .owl-next:hover::after,
.listing-carousel.owl-theme.outer .owl-controls .owl-prev:hover::before,
.slick-next:after,
.slick-prev:after {
  background-color: $primaryColor;
}

.cluster div:before {
  border: 7px solid $primaryColor;
  box-shadow: inset 0 0 0 4px $primaryColor;
}

.mfp-arrow:hover {
  background: $primaryColor;
}

.dropzone:hover {
  border: 2px dashed $primaryColor;
}

.dropzone:before {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.9)
  );
  background-color: $primaryColor;
}

.chosen-container .chosen-results li.highlighted,
.chosen-container-multi .chosen-choices li.search-choice,
.select-options li:hover,
a.button,
a.button.border:hover,
button.button,
input[type='button'],
input[type='submit'] {
  background-color: $primaryColor;
}

.dropzone:hover .dz-message,
.sort-by .chosen-container-single .chosen-default,
.sort-by .chosen-container-single .chosen-single div b:after {
  color: $primaryColor;
}

a.button.border {
  border: 1px solid $primaryColor;
}

.plan.featured .plan-price {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0,
    transparent
  );
  background-color: $primaryColor;
}

.fp-accordion .accordion h3.ui-accordion-header-active,
.trigger.active a,
.ui-accordion .ui-accordion-header-active,
.ui-accordion .ui-accordion-header-active:hover {
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.tabs-nav li a:hover,
.tabs-nav li.active a {
  border-color: $primaryColor;
}

.style-3 .tabs-nav li a:hover,
.style-3 .tabs-nav li.active a {
  border-color: $primaryColor;
  background-color: $primaryColor;
}

.style-4 .tabs-nav li.active a,
.style-5 .tabs-nav li.active a,
table.basic-table th {
  background-color: $primaryColor;
}

.info-box {
  border-top: 2px solid $primaryColor;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.98),
    rgba(255, 255, 255, 0.95)
  );
  background-color: $primaryColor;
}

.info-box.no-border {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.96),
    rgba(255, 255, 255, 0.93)
  );
  background-color: $primaryColor;
}

.icon-box-1 .icon-container {
  background-color: $primaryColor;
}

.qtyTotal {
  background-color: $primaryColor;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: $primaryColor;
}

.daterangepicker td.in-range {
  background-color: rgba(39, 74, 187, 0.07);
  color: $primaryColor;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: $primaryColor;
}

.daterangepicker .drp-buttons button.applyBtn,
.daterangepicker .drp-buttons button.cancelBtn {
  background-color: $primaryColor;
}
.daterangepicker .drp-buttons button.applyBtn {
  background-color: $primaryColor;
}

#booking-date-range:hover {
  color: $primaryColor;
}

#booking-date-range span:after {
  color: $primaryColor;
}

.daterangepicker .ranges li.active {
  background-color: $primaryColor;
  color: $white;
}
.panel-dropdown a:after {
  color: $primaryColor;
}
.time-slot input ~ label:hover {
  color: $primaryColor;
  background-color: $transparent70;
}

.time-slot input:checked ~ label {
  background-color: $primaryColor;
}
.time-slot label:hover span {
  color: $primaryColor;
}
