$white: #ffffff;
$purple: #7e6990;
$red: #f64225;
$pink: #e83e8c;
$orange: #ee7d25;
$yellow: #ffee00;
$green: #00a002;
$indigo: #6610f2;
$lightBlue: #1da1f2;
$blue: #3b5998;
$teal: #55c0a9;
$violet: #8862e0;
$black: #000000;

//   other colors
$transparent100: #00000000;
$transparent90: #ffffff80;
$transparent80: #ffffff33;
$transparent70: #ffffff00;
$transparent60: #ffffffcc;

$red900: #bd081c;
$red800: #be2626;
$red700: #e24747;
$red600: #a92222;

$white900: #f8f8f8;
$white800: #f5f5f5;
$white700: #fdfdfd;
$white600: #f0f0f0;
$white500: #f0eded;
$white400: #fcfcfc;
$white300: #f9fbfc;

$gray920: #1e1e21;
$gray900: #111111;
$gray840: #2b2c30;
$gray820: #262626;
$gray800: #222222;
$gray760: #36383e;
$gray700: #333333;
$gray620: #404040;
$gray600: #444444;
$gray520: #575757;
$gray500: #555555;
$gray440: #66676b;
$gray420: #696969;
$gray400: #666666;
$gray300: #777777;
$gray220: #808080;
$gray200: #888888;
$gray150: #909090;
$gray100: #999999;
$gray95: #d3d3d3;

$gray90: #d0d0d0;
$gray80: #aaaaaa;
$gray60: #a0a0a0;
$gray50: #cccccc;
$gray40: #e0e0e0;
$gray30: #e8e8e8;
$gray20: #e9e9e9;
$gray10: #eeeeee;

$baseColor: #868686;
$primaryColor: #f64225;
$secondaryColor: #444444;

$f-size-8: 8px;
$f-size-11: 11px;
$f-size-12: 12px;
$f-size-13: 13px;
$f-size-14: 14px;
$f-size-15: 15px;
$f-size-16: 16px;
$f-size-17: 17px;
$f-size-18: 18px;
$f-size-19: 19px;
$f-size-20: 20px;
$f-size-21: 21px;
$f-size-22: 22px;
$f-size-23: 23px;
$f-size-24: 24px;
$f-size-26: 26px;
$f-size-27: 27px;
$f-size-28: 28px;
$f-size-29: 29px;
$f-size-30: 30px;
$f-size-32: 32px;
$f-size-33: 33px;
$f-size-34: 34px;
$f-size-36: 36px;
$f-size-37: 37px;
$f-size-38: 38px;
$f-size-40: 40px;

$vSmall: 8px;
$small: 12px;
$base: 14px;
$medium: 16px;
$large: 18px;

$extraLarge: 20px;
$primaryTitle: 45px;
$secondaryTitle: 42px;
$iconSize: 80px;

$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font900: 900;

$baseFamily: 'Roboto Condensed', sans-serif;
// $primary: Poppins-Regular;
// $semiBold: Poppins-Medium;
// $bold: Poppins-Bold;

$lineHeight: auto;
